@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-500.woff2") format("woff2"), url("../fonts/Inter-500.woff") format("woff"), url("../fonts/Inter-500.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-600.woff2") format("woff2"), url("../fonts/Inter-600.woff") format("woff"), url("../fonts/Inter-600.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-700.woff2") format("woff2"), url("../fonts/Inter-700.woff") format("woff"), url("../fonts/Inter-700.ttf") format("ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benifit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 135px;
}

.benefit__title {
  margin: 0;
  margin-bottom: 51px;
  font-size: 50px;
  line-height: 61px;
  font-weight: 700;
  color: #191a15;
}

.benefit__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefit__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 52px;
  color: #191a15;
}

.benefit__item:last-child {
  margin-bottom: 0;
}

.benefit__item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-color: #54bd95;
  background-image: url("./../img/icons/tick.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
}

.benefit__picture {
  margin-right: -70px;
}

.features__inner {
  display: flex;
  margin-bottom: 73px;
}

.features__title {
  margin: 0;
  margin-right: 113px;
  min-width: 330px;
  font-size: 50px;
  line-height: 61px;
  font-weight: 600;
  color: #191a15;
}

.features__description {
  margin: 0;
  margin-top: 12px;
  margin-right: 113px;
  color: #a6a6a6;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 44px;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 364px;
  margin: 0 auto;
}

.features__picture {
  margin-bottom: 30px;
  order: -1;
}

.features__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #191a15;
}

.features__item-description {
  margin: 0;
  color: #a6a6a6;
}

.features__link {
  display: block;
  align-self: center;
  min-width: 162px;
  padding: 18px 31px;
  color: #ffffff;
  background-color: #54bd95;
  border-radius: 70px;
}

.form-get-started {
  padding: 40px 86px 66px;
  min-width: 612px;
  height: min-content;
  background-color: #222938;
  border-radius: 20px;
}

.form-get-started__form {
  display: flex;
  flex-direction: column;
}

.form-get-started__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-get-started__title {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.form-get-started__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 72px;
  height: 86px;
  background-image: url("./../img/icons/coins.svg");
  background-repeat: no-repeat;
}

.form-get-started__label-title {
  margin-bottom: 20px;
  line-height: 22px;
  color: #ffffff;
}

.form-get-started__email {
  padding: 17px 20px;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #191a15;
  border: none;
  border-radius: 10px;
}

.form-get-started__email::placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #a6a6a6;
}

.form-get-started__message {
  width: 100%;
  height: 80px;
  padding: 20px;
  resize: none;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #191a15;
  border-radius: 10px;
}

.form-get-started__message::placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #a6a6a6;
}

.form-get-started__submit {
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #ffffff;
  background-color: #54bd95;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-get-started__link-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form-get-started__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a6a6a6;
}

.form-get-started__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #ffffff;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introduction__losung {
  display: block;
  margin-bottom: 106px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  color: #191a15;
}

.introduction__description {
  width: 80%;
  margin: 0;
  margin-bottom: 50px;
}

.introduction__free-trial {
  display: inline-block;
  padding: 20px 30px;
  margin-right: 40px;
  line-height: 22px;
  color: #ffffff;
  background-color: #54bd95;
  border-radius: 40px;
}

.introduction__demo {
  position: relative;
  display: inline-block;
  padding: 9px 0;
  padding-left: 54px;
  line-height: 22px;
  color: #191a15;
}

.introduction__demo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("./../img/icons/view.svg");
  background-repeat: no-repeat;
}

.introduction__picture {
  margin-right: -112px;
}

.main-container__introduction {
  margin: 0 130px;
  margin-bottom: 130px;
}

.main-container__teams {
  margin: 0 130px;
  margin-bottom: 130px;
}

.main-container__support {
  padding: 60px 130px;
}

.main-container__features {
  margin: 0 130px;
  margin-bottom: 130px;
  padding-top: 130px;
}

.main-container__benifit {
  margin: 0 130px;
  margin-bottom: 130px;
}

.main-container__plans {
  margin: 0 130px;
  padding-bottom: 130px;
}

.main-container__inner-features-benefit-plans {
  background-image: url("./../img/main-background-2.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.main-container__inner-reviews-form {
  display: flex;
  padding: 0 130px;
  padding-top: 133px;
  padding-bottom: 130px;
  background-color: #161c28;
}

.main-footer {
  margin-top: -1px;
  padding: 40px 130px;
  background-color: #161c28;
}

.main-footer__container {
  display: flex;
  margin-bottom: 59px;
}

.main-footer__inner {
  margin-right: auto;
}

.main-footer__logo {
  display: block;
  width: min-content;
  margin-bottom: 30px;
}

.main-footer__form-description {
  margin: 0;
  margin-bottom: 30px;
  color: #a6a6a6;
}

.main-footer__form-input {
  min-width: 269px;
  padding: 13px 20px;
  padding-right: 60px;
  font-family: "Inter", system-ui, sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: #a6a6a6;
  background-color: transparent;
  border-radius: 70px;
  border: 2px solid #a6a6a6;
}

.main-footer__form-input::placeholder {
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

.main-footer__form-label {
  position: relative;
  display: block;
}

.main-footer__form-submit {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  padding: 0;
  background-color: #54bd95;
  background-image: url("./../img/icons/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
}

.main-footer__subtitle {
  margin: 0;
  margin-bottom: 30px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  margin-bottom: 20px;
  line-height: 22px;
  color: #a6a6a6;
}

.main-footer__item:last-child {
  margin-bottom: 0;
}

.main-footer__support {
  margin-right: 64px;
}

.main-footer__help {
  margin-right: 64px;
}

.main-footer__link {
  color: inherit;
}

.main-footer__copyright {
  display: flex;
}

.main-footer__copyright-text {
  margin-right: auto;
  color: #ffffff;
}

.main-footer__terms-conditions {
  margin-right: 24px;
  color: #ffffff;
}

.main-footer__privacy-policy {
  color: #ffffff;
}

.main-header {
  display: flex;
  margin: 0 130px;
  margin-bottom: 82px;
  padding: 40px 0;
}

.main-header__logo {
  display: block;
}

.main-header__logo-wrapper {
  margin-right: auto;
  padding-right: 130px;
}

.navigation {
  display: flex;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
}

.navigation__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation__item {
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item--active {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.navigation__user-item {
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}

.navigation__user-item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  padding: 10px 10px;
  color: inherit;
}

.navigation__link--sign-up {
  min-width: 80px;
  min-height: 40px;
  color: #ffffff;
  background-color: #54bd95;
  border-radius: 10px;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-image: url("./../img/main-background-1.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.plans__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 73px;
  font-weight: 700;
  color: #191a15;
  text-align: center;
}

.plans__description {
  margin: 0;
  margin-bottom: 40px;
  line-height: 22px;
  color: #a6a6a6;
  text-align: center;
}

.plans__switch {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
}

.plans__switch-label {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.plans__switch-inner {
  min-width: 340px;
  min-height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
}

.plans__switch-place {
  padding: 13px 33px;
}

.plans__switch-place--active {
  padding: 13px 40px;
  color: #ffffff;
  background-color: #54bd95;
  border-radius: 10px;
}

.rating__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.rating__item {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.rating__item:last-child {
  margin-right: 0;
}

.rating__stars {
  display: flex;
  margin-bottom: 18px;
}

.rating__star {
  display: block;
  height: 26px;
  margin-right: 3px;
  color: #bbbbbb;
}

.rating__star:last-child {
  margin-right: 0;
}

.rating__star--active {
  color: #ffc727;
}

.rating__grade {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  color: #191a15;
}

.rating__grade span {
  font-weight: 700;
}

.rating__informer {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #a6a6a6;
}

.reviews {
  width: 40%;
  margin-right: auto;
}

.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 61px;
  font-weight: 600;
  color: #ffffff;
}

.reviews__description {
  margin: 0;
  margin-bottom: 42px;
  color: #a6a6a6;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.reviews__item {
  position: relative;
  padding-top: 85px;
}

.reviews__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 45px;
  height: 38px;
  background-image: url("./../img/icons/quotes.svg");
}

.reviews__blockquote {
  margin: 0;
  margin-bottom: 40px;
}

.reviews__figure {
  margin: 0;
  color: #a6a6a6;
}

.reviews__feedback {
  margin: 0;
}

.reviews__reviewers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.reviews__reviewer {
  margin-right: 20px;
  cursor: pointer;
}

.reviews__reviewer:last-child {
  margin-right: 0;
}

.subscriptions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 29px;
}

.subscriptions__item {
  height: min-content;
  padding: 40px 20px 25px;
  justify-self: start;
  background-color: #ffffff;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.subscriptions__item--active {
  background-color: #54bd95;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='300' cx='187' cy='446' fill=' %236bc2a1'/%3E%3C/svg%3E");
}

.subscriptions__item--active .subscriptions__title {
  color: #ffffff;
}

.subscriptions__item--active .subscriptions__description {
  color: #ffffff;
}

.subscriptions__item--active .subscriptions__price {
  margin-bottom: 16px;
  color: #ffffff;
}

.subscriptions__item--active .subscriptions__price span {
  color: inherit;
}

.subscriptions__item--active .subscriptions__item-inner {
  background-color: #ffffff;
}

.subscriptions__item--active .subscriptions__link {
  color: #ffffff;
  background-color: #54bd95;
}

.subscriptions__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #191a15;
  text-align: center;
}

.subscriptions__description {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 39px;
  line-height: 27px;
  color: #a6a6a6;
  text-align: center;
}

.subscriptions__price {
  position: relative;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  color: #191a15;
}

.subscriptions__price span {
  position: absolute;
  top: -26px;
  left: -16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #a6a6a6;
}

.subscriptions__item-inner {
  padding: 26px 37px 25px 20px;
  background-color: #f9fafb;
  border-radius: 10px;
}

.subscriptions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 27px;
}

.subscriptions__list-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 22px;
  color: #191a15;
}

.subscriptions__list-item:last-child {
  margin-bottom: 0;
}

.subscriptions__list-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #54bd95;
  background-image: url("./../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 50%;
}

.subscriptions__link {
  display: block;
  padding: 17px 0;
  font-weight: 600;
  color: #54bd95;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.subscriptions__tip-wrapper {
  display: flex;
  justify-content: center;
}

.subscriptions__tip {
  margin: 0;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 11px;
  padding-right: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #85dab9;
  border-radius: 10px;
}

.support {
  display: grid;
  grid-template-columns: 5fr 4fr;
  column-gap: 27px;
  background-color: #f9f8fe;
}

.support__inner {
  display: flex;
  flex-direction: column;
}

.support__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 61px;
  font-weight: 600;
  color: #191a15;
}

.support__description {
  margin: 0;
  margin-bottom: auto;
  font-size: 16px;
  color: #a6a6a6;
}

.support__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.support__item {
  position: relative;
  padding-left: 81px;
  margin-bottom: 30px;
}

.support__item:last-child {
  margin-bottom: 0;
}

.support__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.support__item--publishing::before {
  background-image: url("./../img/icons/publishing.svg");
}

.support__item--analytics::before {
  background-image: url("./../img/icons/analytics.svg");
}

.support__item--engagement::before {
  background-image: url("./../img/icons/engagement.svg");
}

.support__item-title {
  margin: 0;
  padding-top: 3px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #191a15;
}

.support__item-description {
  margin: 0;
  color: #a6a6a6;
}

.teams__title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  color: #191a15;
}

.teams__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.teams__item {
  margin-right: 50px;
}

.teams__item:last-child {
  margin-right: 0;
}

.teams__link {
  display: flex;
  align-items: center;
}

@supports (-webkit-appearance:none) {
  .benefit__item::before {
    background-image: url("./../img/icons/tick.svg");
  }

  .form-get-started__title::before {
    background-image: url("./../img/icons/coins.svg");
  }

  .introduction__demo::before {
    background-image: url("./../img/icons/view.svg");
  }

  .main-container__inner-features-benefit-plans {
    background-image: url("./../img/main-background-2.webp");
  }

  .main-footer__form-submit {
    background-image: url("./../img/icons/arrow-right.svg");
  }

  .page__body {
    background-image: url("./../img/main-background-1.webp");
  }

  .reviews__item::before {
    background-image: url("./../img/icons/quotes.svg");
  }

  .subscriptions__item--active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='300' cx='187' cy='446' fill=' %236bc2a1'/%3E%3C/svg%3E");
  }

  .subscriptions__list-item::before {
    background-image: url("./../img/icons/tick.svg");
  }

  .support__item--publishing::before {
    background-image: url("./../img/icons/publishing.svg");
  }

  .support__item--analytics::before {
    background-image: url("./../img/icons/analytics.svg");
  }

  .support__item--engagement::before {
    background-image: url("./../img/icons/engagement.svg");
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-container__inner-features-benefit-plans {
    background-image: url("./../img/main-background-2@2x.jpg");
  }

  .page__body {
    background-image: url("./../img/main-background-1@2x.jpg");
  }

@supports (-webkit-appearance:none) {
    .main-container__inner-features-benefit-plans {
      background-image: url("./../img/main-background-2@2x.webp");
    }

    .page__body {
      background-image: url("./../img/main-background-1@2x.webp");
    }
}
}